<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Spu2100</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.oge.spu.action.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.oge.spu.action.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IfcfgServlet</display-name>
    <servlet-name>IfcfgServlet</servlet-name>
    <servlet-class>com.oge.spu.action.IfcfgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IfcfgServlet</servlet-name>
    <url-pattern>/IfcfgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.oge.spu.action.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.oge.spu.action.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CheckLoginFilter</display-name>
    <filter-name>CheckLoginFilter</filter-name>
    <filter-class>com.oge.spu.filter.CheckLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckLoginFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ChannelConfServlet</display-name>
    <servlet-name>ChannelConfServlet</servlet-name>
    <servlet-class>com.oge.spu.action.ChannelConfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChannelConfServlet</servlet-name>
    <url-pattern>/ChannelConfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfoServlet</display-name>
    <servlet-name>InfoServlet</servlet-name>
    <servlet-class>com.oge.spu.action.InfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoServlet</servlet-name>
    <url-pattern>/InfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogFileServlet</display-name>
    <servlet-name>LogFileServlet</servlet-name>
    <servlet-class>com.oge.spu.action.LogFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogFileServlet</servlet-name>
    <url-pattern>/LogFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetupConfServlet</display-name>
    <servlet-name>SetupConfServlet</servlet-name>
    <servlet-class>com.oge.spu.action.SetupConfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetupConfServlet</servlet-name>
    <url-pattern>/SetupConfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SjqbServlet</display-name>
    <servlet-name>SjqbServlet</servlet-name>
    <servlet-class>com.oge.spu.action.SjqbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SjqbServlet</servlet-name>
    <url-pattern>/SjqbServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.oge.spu.action.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/DownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BackupConfServlet</display-name>
    <servlet-name>BackupConfServlet</servlet-name>
    <servlet-class>com.oge.spu.action.BackupConfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackupConfServlet</servlet-name>
    <url-pattern>/BackupConfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JCLServlet</display-name>
    <servlet-name>JCLServlet</servlet-name>
    <servlet-class>com.oge.spu.action.JCLServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JCLServlet</servlet-name>
    <url-pattern>/JCLServlet</url-pattern>
  </servlet-mapping>
</web-app>